Treasure/Assembly-CSharp.csproj
Treasure/Assembly-CSharp-Editor.csproj
Treasure/Assembly-CSharp-Editor-firstpass.csproj
Treasure/Treasure.sln
Treasure/.vs/
Treasure/Library/Artifacts/10/1076d8a84016c1ebec8fa838e1f28530
Treasure/Library/
Treasure/Temp/UnityLockfile
Treasure/Temp/
Treasure/obj/
Treasure/Logs/
Treasure/Bin/
Treasure/ProjectSettings/PackageManagerSettings.asset
Treasure/Packages/packages-lock.json
Treasure/UserSettings/EditorUserSettings.asset
Treasure/ProjectSettings/VersionControlSettings.asset
